# Lab | Customer Analysis Round 2

For this lab, we will be using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder. Check out the `files_for_lab/about.md` to get more information if you are using the Online Excel.

**Note**: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')

### Dealing with the data

1. Show the dataframe shape.
2. Standardize header names.
3. Which columns are numerical?
4. Which columns are categorical?
5. Check and deal with `NaN` values.
6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.
7. BONUS: Put all the previously mentioned data transformations into a function.

In [3]:
df.shape

(10910, 26)

In [4]:
#Creamos una copia del DataFrame para no sobreestribir la original

In [5]:
df_2= df.copy()

In [6]:
#Estandarizamos la comlumnas

In [7]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [8]:
columns_df_2= []

In [9]:
for i in range(len(df_2.columns)):
    columns_df_2.append(df_2.columns[i].lower())

In [10]:
columns_df_2

['unnamed: 0',
 'customer',
 'state',
 'customer lifetime value',
 'response',
 'coverage',
 'education',
 'effective to date',
 'employmentstatus',
 'gender',
 'income',
 'location code',
 'marital status',
 'monthly premium auto',
 'months since last claim',
 'months since policy inception',
 'number of open complaints',
 'number of policies',
 'policy type',
 'policy',
 'renew offer type',
 'sales channel',
 'total claim amount',
 'vehicle class',
 'vehicle size',
 'vehicle type']

In [11]:
df_2.columns= columns_df_2

In [12]:
#Comprobamos...

In [13]:
df_2.columns

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')

In [14]:
# Renombrar la columna 'unnamed: 0' a 'unnamed'
df_2.rename(columns={'unnamed: 0': 'unnamed'}, inplace=True)

In [15]:
df_2.columns

Index(['unnamed', 'customer', 'state', 'customer lifetime value', 'response',
       'coverage', 'education', 'effective to date', 'employmentstatus',
       'gender', 'income', 'location code', 'marital status',
       'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')

In [16]:
df_2.info

<bound method DataFrame.info of        unnamed customer       state  customer lifetime value response  \
0            0  DK49336     Arizona              4809.216960       No
1            1  KX64629  California              2228.525238       No
2            2  LZ68649  Washington             14947.917300       No
3            3  XL78013      Oregon             22332.439460      Yes
4            4  QA50777      Oregon              9025.067525       No
...        ...      ...         ...                      ...      ...
10905    10905  FE99816      Nevada             15563.369440       No
10906    10906  KX53892      Oregon              5259.444853       No
10907    10907  TL39050     Arizona             23893.304100       No
10908    10908  WA60547  California             11971.977650       No
10909    10909  IV32877         NaN              6857.519928      NaN

       coverage education effective to date employmentstatus gender  ...  \
0         Basic   College           2/18/11         Employed      M  ...
1         Basic   College           1/18/11       Unemployed      F  ...
2         Basic  Bachelor           2/10/11         Employed      M  ...
3      Extended   College           1/11/11         Employed      M  ...
4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
10906     Basic   College            1/6/11         Employed      F  ...
10907  Extended  Bachelor            2/6/11         Employed      F  ...
10908   Premium   College           2/13/11         Employed      F  ...
10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

       number of open complaints number of policies     policy type  \
0                            0.0                  9  Corporate Auto
1                            0.0                  1   Personal Auto
2                            0.0                  2   Personal Auto
3                            0.0                  2  Corporate Auto
4                            NaN                  7   Personal Auto
...                          ...                ...             ...
10905                        NaN                  7   Personal Auto
10906                        0.0                  6   Personal Auto
10907                        0.0                  2  Corporate Auto
10908                        4.0                  6   Personal Auto
10909                        0.0                  3   Personal Auto

             policy  renew offer type  sales channel  total claim amount  \
0      Corporate L3            Offer3          Agent          292.800000
1       Personal L3            Offer4    Call Center          744.924331
2       Personal L3            Offer3    Call Center          480.000000
3      Corporate L3            Offer2         Branch          484.013411
4       Personal L2            Offer1         Branch          707.925645
...             ...               ...            ...                 ...
10905   Personal L1            Offer3            Web         1214.400000
10906   Personal L3            Offer2         Branch          273.018929
10907  Corporate L3            Offer1            Web          381.306996
10908   Personal L1            Offer1         Branch          618.288849
10909   Personal L1            Offer4            Web         1021.719397

       vehicle class vehicle size vehicle type
0      Four-Door Car      Medsize          NaN
1      Four-Door Car      Medsize          NaN
2                SUV      Medsize            A
3      Four-Door Car      Medsize            A
4      Four-Door Car      Medsize          NaN
...              ...          ...          ...
10905     Luxury Car      Medsize            A
10906  Four-Door Car      Medsize            A
10907     Luxury SUV      Medsize          NaN
10908            SUV      Medsize            A
10909            SUV      Medsize          NaN

[10910 rows x 26 columns]>

In [17]:
# Visualizamos la columnas que son numericas

In [18]:
df_2._get_numeric_data()

,unnamed,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...,...
10905,10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [19]:
df_2.describe

<bound method NDFrame.describe of        unnamed customer       state  customer lifetime value response  \
0            0  DK49336     Arizona              4809.216960       No
1            1  KX64629  California              2228.525238       No
2            2  LZ68649  Washington             14947.917300       No
3            3  XL78013      Oregon             22332.439460      Yes
4            4  QA50777      Oregon              9025.067525       No
...        ...      ...         ...                      ...      ...
10905    10905  FE99816      Nevada             15563.369440       No
10906    10906  KX53892      Oregon              5259.444853       No
10907    10907  TL39050     Arizona             23893.304100       No
10908    10908  WA60547  California             11971.977650       No
10909    10909  IV32877         NaN              6857.519928      NaN

       coverage education effective to date employmentstatus gender  ...  \
0         Basic   College           2/18/11         Employed      M  ...
1         Basic   College           1/18/11       Unemployed      F  ...
2         Basic  Bachelor           2/10/11         Employed      M  ...
3      Extended   College           1/11/11         Employed      M  ...
4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
10906     Basic   College            1/6/11         Employed      F  ...
10907  Extended  Bachelor            2/6/11         Employed      F  ...
10908   Premium   College           2/13/11         Employed      F  ...
10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

       number of open complaints number of policies     policy type  \
0                            0.0                  9  Corporate Auto
1                            0.0                  1   Personal Auto
2                            0.0                  2   Personal Auto
3                            0.0                  2  Corporate Auto
4                            NaN                  7   Personal Auto
...                          ...                ...             ...
10905                        NaN                  7   Personal Auto
10906                        0.0                  6   Personal Auto
10907                        0.0                  2  Corporate Auto
10908                        4.0                  6   Personal Auto
10909                        0.0                  3   Personal Auto

             policy  renew offer type  sales channel  total claim amount  \
0      Corporate L3            Offer3          Agent          292.800000
1       Personal L3            Offer4    Call Center          744.924331
2       Personal L3            Offer3    Call Center          480.000000
3      Corporate L3            Offer2         Branch          484.013411
4       Personal L2            Offer1         Branch          707.925645
...             ...               ...            ...                 ...
10905   Personal L1            Offer3            Web         1214.400000
10906   Personal L3            Offer2         Branch          273.018929
10907  Corporate L3            Offer1            Web          381.306996
10908   Personal L1            Offer1         Branch          618.288849
10909   Personal L1            Offer4            Web         1021.719397

       vehicle class vehicle size vehicle type
0      Four-Door Car      Medsize          NaN
1      Four-Door Car      Medsize          NaN
2                SUV      Medsize            A
3      Four-Door Car      Medsize            A
4      Four-Door Car      Medsize          NaN
...              ...          ...          ...
10905     Luxury Car      Medsize            A
10906  Four-Door Car      Medsize            A
10907     Luxury SUV      Medsize          NaN
10908            SUV      Medsize            A
10909            SUV      Medsize          NaN

[10910 rows x 26 columns]>

In [20]:
# Seleccionar todas las columnas categóricas
df_2.select_dtypes(include=['object', 'category'])

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,policy type,policy,renew offer type,sales channel,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

In [21]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed                        10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10279 non-null  object
 3   customer lifetime value        10910 non-null  float64
 4   response                       10279 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective to date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location code                  10910 non-null  object
 12  marital status                 10910 non-null  object
 13  monthly premium auto           10910 non-null  int64
 14  months since last claim        10277 non-null  float64
 15  months since policy inception  10910 non-null  int64
 16  number of open complaints      10277 non-null  float64
 17  number of policies             10910 non-null  int64
 18  policy type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew offer type               10910 non-null  object
 21  sales channel                  10910 non-null  object
 22  total claim amount             10910 non-null  float64
 23  vehicle class                  10288 non-null  object
 24  vehicle size                   10288 non-null  object
 25  vehicle type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [22]:
round(df_2.isna().sum()/len(df_2),4)*100

unnamed                           0.00
customer                          0.00
state                             5.78
customer lifetime value           0.00
response                          5.78
coverage                          0.00
education                         0.00
effective to date                 0.00
employmentstatus                  0.00
gender                            0.00
income                            0.00
location code                     0.00
marital status                    0.00
monthly premium auto              0.00
months since last claim           5.80
months since policy inception     0.00
number of open complaints         5.80
number of policies                0.00
policy type                       0.00
policy                            0.00
renew offer type                  0.00
sales channel                     0.00
total claim amount                0.00
vehicle class                     5.70
vehicle size                      5.70
vehicle type                     50.25
dtype: float64

In [23]:
# Para comenzar la limpieza visualizamos si existen filas que contengan mas de un valor nulo

df_2.isna().sum(axis=1)

0        1
1        1
2        0
3        0
4        3
        ..
10905    2
10906    0
10907    1
10908    0
10909    3
Length: 10910, dtype: int64

In [24]:
# Reemplazamos los valores nulos en la columnas 
df_2['state'] = df_2['state'].fillna('Unknow')
df_2['response'] = df_2['response'].fillna('Unknow')
df_2['vehicle class'] = df_2['vehicle class'].fillna('Unknow')
df_2['vehicle size'] = df_2['vehicle size'].fillna('Unknow')
df_2['vehicle type'] = df_2['vehicle type'].fillna('Unknow')

In [25]:
round(df_2.isna().sum()/len(df_2),4)*100

unnamed                          0.0
customer                         0.0
state                            0.0
customer lifetime value          0.0
response                         0.0
coverage                         0.0
education                        0.0
effective to date                0.0
employmentstatus                 0.0
gender                           0.0
income                           0.0
location code                    0.0
marital status                   0.0
monthly premium auto             0.0
months since last claim          5.8
months since policy inception    0.0
number of open complaints        5.8
number of policies               0.0
policy type                      0.0
policy                           0.0
renew offer type                 0.0
sales channel                    0.0
total claim amount               0.0
vehicle class                    0.0
vehicle size                     0.0
vehicle type                     0.0
dtype: float64

In [26]:
# Para comenzar la limpieza visualizamos si existen filas que contengan mas de un valor nulo

df_2.isna().sum(axis=1)

0        0
1        0
2        0
3        0
4        2
        ..
10905    2
10906    0
10907    0
10908    0
10909    0
Length: 10910, dtype: int64

In [27]:
# Reemplazo los valores nulos de las columnas 'months since last claim' 'number of open complaints' y por su media

df_2['months since last claim']= df_2['months since last claim'].fillna(df_2['months since last claim'].mean())
df_2['number of open complaints']= df_2['number of open complaints'].fillna(df_2['number of open complaints'].mean())

In [28]:
round(df_2.isna().sum()/len(df_2),4)*100

unnamed                          0.0
customer                         0.0
state                            0.0
customer lifetime value          0.0
response                         0.0
coverage                         0.0
education                        0.0
effective to date                0.0
employmentstatus                 0.0
gender                           0.0
income                           0.0
location code                    0.0
marital status                   0.0
monthly premium auto             0.0
months since last claim          0.0
months since policy inception    0.0
number of open complaints        0.0
number of policies               0.0
policy type                      0.0
policy                           0.0
renew offer type                 0.0
sales channel                    0.0
total claim amount               0.0
vehicle class                    0.0
vehicle size                     0.0
vehicle type                     0.0
dtype: float64

In [29]:
#Convertimos la columna 'effective to date' en formato fecha

df_2['effective to date'] = pd.to_datetime(df_2['effective to date'])

In [30]:
#Creamos una columna con el mes

df_2['Month'] = df_2['effective to date'].dt.month

df_2.head

<bound method NDFrame.head of        unnamed customer       state  customer lifetime value response  \
0            0  DK49336     Arizona              4809.216960       No
1            1  KX64629  California              2228.525238       No
2            2  LZ68649  Washington             14947.917300       No
3            3  XL78013      Oregon             22332.439460      Yes
4            4  QA50777      Oregon              9025.067525       No
...        ...      ...         ...                      ...      ...
10905    10905  FE99816      Nevada             15563.369440       No
10906    10906  KX53892      Oregon              5259.444853       No
10907    10907  TL39050     Arizona             23893.304100       No
10908    10908  WA60547  California             11971.977650       No
10909    10909  IV32877      Unknow              6857.519928   Unknow

       coverage education effective to date employmentstatus gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor        2011-01-19       Unemployed      F  ...
10906     Basic   College        2011-01-06         Employed      F  ...
10907  Extended  Bachelor        2011-02-06         Employed      F  ...
10908   Premium   College        2011-02-13         Employed      F  ...
10909     Basic  Bachelor        2011-01-08       Unemployed      M  ...

       number of policies     policy type        policy  renew offer type  \
0                       9  Corporate Auto  Corporate L3            Offer3
1                       1   Personal Auto   Personal L3            Offer4
2                       2   Personal Auto   Personal L3            Offer3
3                       2  Corporate Auto  Corporate L3            Offer2
4                       7   Personal Auto   Personal L2            Offer1
...                   ...             ...           ...               ...
10905                   7   Personal Auto   Personal L1            Offer3
10906                   6   Personal Auto   Personal L3            Offer2
10907                   2  Corporate Auto  Corporate L3            Offer1
10908                   6   Personal Auto   Personal L1            Offer1
10909                   3   Personal Auto   Personal L1            Offer4

       sales channel  total claim amount  vehicle class  vehicle size  \
0              Agent          292.800000  Four-Door Car       Medsize
1        Call Center          744.924331  Four-Door Car       Medsize
2        Call Center          480.000000            SUV       Medsize
3             Branch          484.013411  Four-Door Car       Medsize
4             Branch          707.925645  Four-Door Car       Medsize
...              ...                 ...            ...           ...
10905            Web         1214.400000     Luxury Car       Medsize
10906         Branch          273.018929  Four-Door Car       Medsize
10907            Web          381.306996     Luxury SUV       Medsize
10908         Branch          618.288849            SUV       Medsize
10909            Web         1021.719397            SUV       Medsize

      vehicle type Month
0           Unknow     2
1           Unknow     1
2                A     2
3                A     1
4           Unknow     1
...            ...   ...
10905            A     1
10906            A     1
10907       Unknow     2
10908            A     2
10909       Unknow     1

[10910 rows x 27 columns]>

In [31]:
# Filtramos la información unicamente por el primer trimestre

q1_data = df_2.loc[(df_2['Month'] >= 1) & (df_2['Month'] <= 3)]

In [32]:
q1_data.head

<bound method NDFrame.head of        unnamed customer       state  customer lifetime value response  \
0            0  DK49336     Arizona              4809.216960       No
1            1  KX64629  California              2228.525238       No
2            2  LZ68649  Washington             14947.917300       No
3            3  XL78013      Oregon             22332.439460      Yes
4            4  QA50777      Oregon              9025.067525       No
...        ...      ...         ...                      ...      ...
10905    10905  FE99816      Nevada             15563.369440       No
10906    10906  KX53892      Oregon              5259.444853       No
10907    10907  TL39050     Arizona             23893.304100       No
10908    10908  WA60547  California             11971.977650       No
10909    10909  IV32877      Unknow              6857.519928   Unknow

       coverage education effective to date employmentstatus gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor        2011-01-19       Unemployed      F  ...
10906     Basic   College        2011-01-06         Employed      F  ...
10907  Extended  Bachelor        2011-02-06         Employed      F  ...
10908   Premium   College        2011-02-13         Employed      F  ...
10909     Basic  Bachelor        2011-01-08       Unemployed      M  ...

       number of policies     policy type        policy  renew offer type  \
0                       9  Corporate Auto  Corporate L3            Offer3
1                       1   Personal Auto   Personal L3            Offer4
2                       2   Personal Auto   Personal L3            Offer3
3                       2  Corporate Auto  Corporate L3            Offer2
4                       7   Personal Auto   Personal L2            Offer1
...                   ...             ...           ...               ...
10905                   7   Personal Auto   Personal L1            Offer3
10906                   6   Personal Auto   Personal L3            Offer2
10907                   2  Corporate Auto  Corporate L3            Offer1
10908                   6   Personal Auto   Personal L1            Offer1
10909                   3   Personal Auto   Personal L1            Offer4

       sales channel  total claim amount  vehicle class  vehicle size  \
0              Agent          292.800000  Four-Door Car       Medsize
1        Call Center          744.924331  Four-Door Car       Medsize
2        Call Center          480.000000            SUV       Medsize
3             Branch          484.013411  Four-Door Car       Medsize
4             Branch          707.925645  Four-Door Car       Medsize
...              ...                 ...            ...           ...
10905            Web         1214.400000     Luxury Car       Medsize
10906         Branch          273.018929  Four-Door Car       Medsize
10907            Web          381.306996     Luxury SUV       Medsize
10908         Branch          618.288849            SUV       Medsize
10909            Web         1021.719397            SUV       Medsize

      vehicle type Month
0           Unknow     2
1           Unknow     1
2                A     2
3                A     1
4           Unknow     1
...            ...   ...
10905            A     1
10906            A     1
10907       Unknow     2
10908            A     2
10909       Unknow     1

[10910 rows x 27 columns]>

In [33]:
df_2.head

<bound method NDFrame.head of        unnamed customer       state  customer lifetime value response  \
0            0  DK49336     Arizona              4809.216960       No
1            1  KX64629  California              2228.525238       No
2            2  LZ68649  Washington             14947.917300       No
3            3  XL78013      Oregon             22332.439460      Yes
4            4  QA50777      Oregon              9025.067525       No
...        ...      ...         ...                      ...      ...
10905    10905  FE99816      Nevada             15563.369440       No
10906    10906  KX53892      Oregon              5259.444853       No
10907    10907  TL39050     Arizona             23893.304100       No
10908    10908  WA60547  California             11971.977650       No
10909    10909  IV32877      Unknow              6857.519928   Unknow

       coverage education effective to date employmentstatus gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor        2011-01-19       Unemployed      F  ...
10906     Basic   College        2011-01-06         Employed      F  ...
10907  Extended  Bachelor        2011-02-06         Employed      F  ...
10908   Premium   College        2011-02-13         Employed      F  ...
10909     Basic  Bachelor        2011-01-08       Unemployed      M  ...

       number of policies     policy type        policy  renew offer type  \
0                       9  Corporate Auto  Corporate L3            Offer3
1                       1   Personal Auto   Personal L3            Offer4
2                       2   Personal Auto   Personal L3            Offer3
3                       2  Corporate Auto  Corporate L3            Offer2
4                       7   Personal Auto   Personal L2            Offer1
...                   ...             ...           ...               ...
10905                   7   Personal Auto   Personal L1            Offer3
10906                   6   Personal Auto   Personal L3            Offer2
10907                   2  Corporate Auto  Corporate L3            Offer1
10908                   6   Personal Auto   Personal L1            Offer1
10909                   3   Personal Auto   Personal L1            Offer4

       sales channel  total claim amount  vehicle class  vehicle size  \
0              Agent          292.800000  Four-Door Car       Medsize
1        Call Center          744.924331  Four-Door Car       Medsize
2        Call Center          480.000000            SUV       Medsize
3             Branch          484.013411  Four-Door Car       Medsize
4             Branch          707.925645  Four-Door Car       Medsize
...              ...                 ...            ...           ...
10905            Web         1214.400000     Luxury Car       Medsize
10906         Branch          273.018929  Four-Door Car       Medsize
10907            Web          381.306996     Luxury SUV       Medsize
10908         Branch          618.288849            SUV       Medsize
10909            Web         1021.719397            SUV       Medsize

      vehicle type Month
0           Unknow     2
1           Unknow     1
2                A     2
3                A     1
4           Unknow     1
...            ...   ...
10905            A     1
10906            A     1
10907       Unknow     2
10908            A     2
10909       Unknow     1

[10910 rows x 27 columns]>

In [34]:
df_2.to_csv('marketing_customer_analysis(2).csv', index= False)